{% extends "base.html.twig" %}
{% block header %}
{% include "@Pizzon/navbar.html.twig" %}
{% endblock %}
{% block body %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <h2 class="text-center text-white">Bienvenido a Pizzon Pizza</h2>
</div>
{% endblock %}