{% extends "@Pizzon/pizzon.html.twig" %}

{% block body %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <h2 class="text-center text-white">Sección 1</h2>
</div>
{% endblock %}