{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block header %}
    <div class='container'>
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="row justify-content-center">
        <div class="col-md-6 w-100">
        <h1 class="text-center text-white">ETYH</h1>
            <div class="card border shadow p-3 mb-5 bg-dark rounded">
                <div class="card-body bg-dark">
                    <form method="post">
                        <h1 class="text-center text-white">Access to the application</h1>
                        {% if error %}
                            <p class="alert alert-danger">{{ error.message }}</p>
                        {% endif %}
                        <div class="form-group">
                            <label for="_username" class="text-white">Username:</label>
                            <input type="text" {% if error %} value="{{ lastUsername }}" {% endif %} name="_username" class="form-control" placeholder="User" required {% if not error %} autofocus {% endif %}>
                        </div>
                        <div class="form-group">
                            <label for="_password" class="text-white">Password:</label>
                            <input type="password" name="_password" class="form-control" placeholder="Password" {% if error %} autofocus {% endif %}>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-outline-secondary btn-block w-100">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
