{% extends './base.html.twig' %}
{% block header %}
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center text-white">
            <div class="col">
                <h2 class="text-white" style='font-size: 3rem'>ETYH</h2>
            </div>
            <div class="col-auto">
                <button class="btn btn-secondary">
                    Log In
                    <i class="ti ti-user-filled"></i>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="container-fluid light d-flex justify-content-center align-items-center gap-5 text-white" style='cursor:pointer;'>
        {# <div class="border border-white rounded text-center d-grid" style="height: 100%; width: 100%;"> 
            <a href='#' class="text-white text-decoration-none font-wight-bold fs-5">
                <i class="ti ti-ticket" style='font-size: 8rem;'></i> 
                <h3>Cine</h3>
            </a>
        </div>

        <div class="border border-white rounded text-center d-grid" style="height: 100%; width: 100%;">
            <a href='#' class="text-white text-decoration-none fs-5">
                <i class="ti ti-pizza" style='font-size: 8rem;'></i>
                <h3>Pizzon Pizza</h3>
            </a>
        </div> #}
        {% include "@Contabilidad/contabilidadTag.html.twig" %}
    </div>
{% endblock %}