{% extends 'base.html.twig' %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center text-center vh-100 text-white">
    <div {{ stimulus_controller('chart', { 'name': 'Likes', 'data': [1, 2, 3, 4] }, { 'loading': 'spinner' }) }}>
        Hello
    </div>
</div>
{% endblock %}

