<div class="border border-white rounded text-center d-grid" style="height: 100%; width: 100%;">
    <a href="{{path('contabilidad_route')}}" class="text-white text-decoration-none fs-5">
        <i class="ti ti-cash-banknote-filled" style='font-size: 8rem;'></i>
        <h3>Contabilidad</h3>
    </a>
</div>